<div class="row">
  <div class="col-md-12">
    <div class="card main-card mb-3">
      <div class="card-header">
        Gas consumption per day
        </div>
      <div class="card-body">
        <app-line-chart></app-line-chart>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="card main-card mb-3">
      <div class="card-header">
        Temprature and humidity consumption per day
      </div>
      <div class="card-body">
        <app-dynamic-chart></app-dynamic-chart>
      </div>
    </div>
  </div>
  
</div>
