<div class="row">
  <div class="col-md-6">
    <div class="card main-card mb-3">
      <div class="card-header">
        Vibration consumption per day
      </div>
      <div class="card-body">
        <app-line-chart-simple></app-line-chart-simple>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card main-card mb-3">
      <div class="card-header">
        Temperature consumption per day
      </div><br><br><br><br>
      <div class="card-body">
        <app-bar-chart></app-bar-chart>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="card main-card mb-3">
      <div class="card-header">
        Wattage/Voltage and Amperage consumption per day
      </div>
      <div class="card-body">
        <app-line-chart-three></app-line-chart-three>
      </div>
    </div>
  </div>
  
</div>
